html, body {
  overscroll-behavior: none; /* prevents scroll "bounce" */
  scroll-behavior: smooth;    /* smooth scroll */
}

body{
  margin:0;
  background:#e5e5e5;
  font-family:sans-serif;
  overflow-x:hidden;
}

.hero{
  height:200vh;
  position:relative;

}

/* Road container stays fixed while scrolling */
.road-container{
  position:sticky;
  top:50%;
  transform:translateY(-50%);
  height:220px;
  width:100%;
}



/* Road */
.road{
  width:100%;
  height:220px;
  background:black;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}



/* Car */
/* text on road */
.road-text{
  position:absolute;
  top:10%;
  left:50%;
  transform:translate(-50%, -50%);
  font-size:130px;   /* increase size */
  letter-spacing:8px;
  color:black;
  font-weight:bold;
  opacity:0;
  z-index:2;
  white-space:nowrap; /* prevents text from wrapping */
}


/* keep car above everything */
.car{
  position:absolute;
  width:320px;
  left:20px;
  top:-15%;
  transform:translateY(-5%);
  z-index:3;
}


/* green progress road */
.grass{
  position:absolute;
  height:220px;
  width:5%;     /* start with 20% green */
  background:#2ecc71;
  top:50%;
  left:0;
  transform:translateY(-50%);
  z-index:1;
}

.milestones{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  pointer-events:none;
}

.box{
  position:absolute;
  width:290px;
  height:150px;
  background:white;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  opacity:0;
  transform:scale(0.6);
}


/* percentage */
.box h2{
  margin:0;
  font-size:65px;
  /* color:#27ae60; */
}

.box p{
  margin:0;
  font-size:17px;
}

.top{
  position:absolute;
  top:calc(10% - 200px);   
}

.bottom{
  position:absolute;
  top:calc(60% + 120px);  
}


/* horizontal positions */

.top1{ 
  left:50%; 
  background-color: aqua;
}
.bottom1{ 
  left:45%;
  background-color:darkorange;
}

.top2{ 
  left:71%; 
  background-color:violet;
}
.bottom2{ 
  left:66%;
  background-color:lemonchiffon;
 }

 
